@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Moniqa Black Narrow Heading';
  src: url('/fonts/Moniqa-BlackNarrowHeading.woff2') format('woff2'),
    url('/fonts/Moniqa-BlackNarrowHeading.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: 'Moniqa Black Narrow Display';
  src: url('/fonts/Moniqa-BlackNarrowDisplay.woff2') format('woff2'),
    url('/fonts/Moniqa-BlackNarrowDisplay.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: 'Moniqa Black Narrow Ita Display';
  src: url('/fonts/Moniqa-BlackNarrowItaDisplay.woff2') format('woff2'),
    url('/fonts/Moniqa-BlackNarrowItaDisplay.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: 'Moniqa Black Narrow Paragraph';
  src: url('/fonts/Moniqa-BlackNarrowParagraph.woff2') format('woff2'),
    url('/fonts/Moniqa-BlackNarrowParagraph.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-display: block; /* Fix flickering */
}

@font-face {
  font-family: 'Moniqa Black Narrow Ita Heading';
  src: url('/fonts/Moniqa-BlackNarrowItaHeading.woff2') format('woff2'),
    url('/fonts/Moniqa-BlackNarrowItaHeading.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-display: block; /* Fix flickering */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-b font-second;
}

.marquee {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  animation: marquee 10s linear infinite alternate;
}

@keyframes marquee {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.soundwave:active {
  animation: soundwave 1s linear infinite;
}
@keyframes soundwave {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -106px center;
  }
}

/* stylelint-disable */
.cursor-custom-drag {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='40'><rect rx='20' width='100%' height='100%' fill='%23f2efea' stroke='%23eee' /><text x='50%' y='50%' font-family='Work Sans' font-weight='thin' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='%232c2b2a'>Drag</text></svg>")
      16 0,
    auto;
}
.bg-product-black {
  background-color: #191919;
}
.bg-product-cyan {
  background-color: #8ccbcc;
}
.bg-product-violet {
  background-color: #8c82a2;
}
.bg-product-imperial {
  background-color: #ec444f;
}
.bg-product-green {
  background-color: #2cba72;
}
.bg-product-blue {
  background-color: #487f9c;
}
.bg-product-goldenrod {
  background-color: #d19b26;
}
.bg-product-yellow {
  background-color: #fafc4e;
}
.bg-product-red {
  background-color: #ff0000;
}
.bg-product-white {
  background-color: #fafafa;
}
/* stylelint-enable */

.header {
  @apply bg-transparent flex items-center justify-between h-20 p-4 fixed top-0 w-full z-50 3xl:container 3xl:left-1/2 3xl:-translate-x-1/2;
}
.header .logo {
  @apply w-[100px] h-[45px] flex items-center justify-center relative overflow-hidden transition-all delay-100;
  background-position-x: -100%;
}
.header .logo-text {
  @apply text-dark text-2xl font-extrabold absolute -translate-y-full transition-all;
}
.header .menu {
  @apply hidden md:block text-gray-400 font-normal uppercase transition-all;
}
/* stylelint-disable */
.header .cart-icon svg path {
  fill: #777;
}
.header .mobile-menu-icon svg path {
  fill: #ccc;
}
/* stylelint-enable */
.always-black,
.scrolled {
  @apply bg-light-b border-b border-dark flex items-center justify-between h-20 p-4 fixed top-0 w-full z-50 3xl:border-l 3xl:border-r 3xl:border-dark;
}
.always-black .menu,
.scrolled .menu {
  @apply text-dark opacity-100;
}
.always-black .logo,
.scrolled .logo {
  background-position-x: 0;
}
.always-black .logo-text,
.scrolled .logo-text {
  @apply translate-y-0;
}
/* stylelint-disable */
.scrolled .cart-icon svg path {
  fill: #333;
}
.always-black .mobile-menu-icon svg path,
.scrolled .mobile-menu-icon svg path {
  fill: #333;
}

.menu-mobile {
  @apply fixed top-0 bg-light-f border-b border-dark p-4 w-screen z-50 flex flex-col transition-all -translate-y-full;
}
.menu-mobile.open {
  @apply translate-y-0;
}
.menu-mobile .menu {
  @apply flex flex-col;
}
.menu-mobile .menu a {
  @apply uppercase font-light py-2 border-b border-dark;
}
.menu-mobile .menu a:last-child {
  @apply border-none;
}
.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #333 20%, #b47000 40%, #b47000 60%, #333 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }
/* stylelint-enable */
.dragable-collection .drag {
  @apply opacity-0 transition-all;
  animation: drag 15s linear infinite;
}
.dragable-collection:hover .drag {
  @apply opacity-100;
}
@keyframes drag {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 200px);
  }
  100% {
    left: 0;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}
